.container-semaforo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.semaforo{
    background-color: #4b4b50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 90px;
    border: 5px #2A2A2A solid;
    border-radius: 20px;
}

.rojo{
    /* background-color: #D92C2C; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 5px rgb(172, 34, 32) solid;
    margin: 2px;
}

.amarillo{
    /* background-color: #E7D14C; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 5px rgb(202, 158, 12) solid;
    margin: 2px;
}

.verde{
    /* background-color: #4CAF50; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 5px rgb(50, 121, 70) solid;
    margin: 2px;
}

.poste{
    width: 20px;
    height: 150px;
    background-color: #3C3C3C;
    border-left: 5px #2A2A2A solid;
    border-right: 5px #2A2A2A solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.borde{
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px #2A2A2A solid;
    margin-bottom: 7px;
}